<footer class="amazon-footer">
  <div class="footer-top" (click)="scrollToTop()">
    <button class="back-to-top-btn">Back to top</button>
  </div>

  <div class="footer-links">
    <div class="footer-column">
      <h4>Get to Know Us</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press Releases</a></li>
        <li><a href="#">Our Services</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Connect with Us</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Make Money with Us</h4>
      <ul>
        <li><a href="#">Sell on Sagyaa</a></li>
        <li><a href="#">Affiliate Program</a></li>
        <li><a href="#">Advertise Your Products</a></li>
        <li><a href="#">Fulfilment Services</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Let Us Help You</h4>
      <ul>
        <li><a href="#">Your Account</a></li>
        <li><a href="#">Returns Centre</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Customer Service</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Sagyaa. All rights reserved.</p>
  </div>
</footer>