.add-product {
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: blueviolet;
    
}

.add-product .message-p {
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
}