<div class="user-auth">
    <div *ngIf="!showLogin" class="user-signup">
        <h1>User Sign-up</h1>
        <form action="" class="common-form" #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
            <input class="form-input" type="text" placeholder="Enter User Name" name="name" ngModel>
            <input class="form-input" type="text" placeholder="Enter User Email" name="email" ngModel>
            <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel>
            <button class="form-button">SignUp</button>
            <p>Already Have an Account? <a (click)="openLogin()">Click Here</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="user-login">
        <h1>User Login</h1>
        <form action="" class="common-form" #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
            <input class="form-input" type="text" placeholder="Enter User Email" name="email" ngModel>
            <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel>
            <button class="form-button">Login</button>
            <p>Want to create Account? <a (click)="openSignup()">Click Here</a></p>
        </form>
    </div>
</div>