.user-auth h1{
    color: blueviolet;
    margin-bottom: 90px;
    margin-top: 50px;
    text-align: center;
}

.user-auth{
    margin-bottom: 135px;
}

.common-form a{
    cursor: pointer;
    color: blueviolet;
}

.common-form p{
    margin-top: 7px;
    text-align: center;
}