/* You can add global styles to this file, and also import other style files */
body{
font-family: sans-serif;
}

/* Apply same styling to both container and container-fluid */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  margin-left: 5% !important;
  margin-right: 5% !important;
  width: 90% !important;
  max-width: 90% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}
.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;

}
.carousel-caption h3{
    color: #00000082;
    border-radius: 5px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 5px;
}