.product-header-img {
    object-fit: contain;
    height: 600px;
    width: 100%;
}

.picsum-img-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.picsum-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 8px;
}

.carousel-caption h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.carousel-caption p {
  font-size: 16px;
  color: #eee;
}

/* Space below carousel */
ngb-carousel {
  display: block;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.product-list-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.product-item {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    margin-right: 25px;
}

.product-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-item .product-details {
    border-top: 1px solid #ddd;
    border-bottom: 1 px solid #ddd;
    padding: 15px;
}

.product-item .name-head {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-item .product-details h6 {
    text-align: center;

}

.product-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}